.key, .key-no-action{
	background-color: #def ;
	border: 1px solid #345 ;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.key-cover{
	padding: 5px;
}

.disp{
	background-color: #fed ;
	border: 1px solid #345 ;
	text-align: right;
	line-height: 40px;
	font-family: monospace;
	font-stretch: expanded;
	padding-right: 15px;
}